{% extends 'KuzstuBlogBundle::layout.html.twig' %}
{% block content %}
   {% if not entryPosted %}
      {{ form(editorForm) }}
   {% else %}
      <h2>Запись добавлена!</h2>
   {% endif %}
{% endblock %}
